<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:tsr="http://typo3.org/ns/Helhum/TyposcriptRendering/ViewHelpers">

<f:for each="{settings.css}" as="css" key="identifier">
    <f:asset.css identifier="{identifier}" href="{css}" />
</f:for>
<f:for each="{settings.javascript}" as="javascript" key="identifier">
    <f:asset.script identifier="{identifier}" src="{javascript}" />
</f:for>
<f:asset.script identifier="domaincheck-form">
    var domaincheck = {
        path: '<f:format.raw>{inwxDomainCheckMiddlewarePath}</f:format.raw>',
        orderPage: '<f:format.raw>{f:uri.page(pageUid:settings.orderPage,absolute:1)}</f:format.raw>'
    };
</f:asset.script>

    <form class="row tx-domaincheck-search-form" data-uid="{data.uid}">
        <div class="form-group col-xs-12 col-sm-4">
            <label class="sr-only" for="tx-domaincheck-sld-{data.uid}">{f:translate(key: 'tx_domaincheck_check.whois_domain_label')}</label>
            <input class="form-control tx-domaincheck-search-sld" id="tx-domaincheck-sld-{data.uid}" pattern="^([a-zA-ZäÄöÖüÜ0-9]([a-zA-ZäÄöÖüÜ0-9\-]{0,61}[a-zA-ZäÄöÖüÜ0-9]))$" placeholder="{f:translate(key: 'tx_domaincheck_check.whois_domain')}"/>
        </div>
        <div class="form-group col-xs-12 col-sm-4">
            <label class="sr-only" for="tx-domaincheck-tlds-{data.uid}">{f:translate(key: 'tx_domaincheck_check.whois_tld_label')}</label>
            <f:form.select class="form-control tx-domaincheck-search-tlds" data="{placeholder: '{f:translate(key: \'tx_domaincheck_check.whois_all_tlds\')}'}" multiple="true" id="tx-domaincheck-tlds-{data.uid}" options="{tlds}" optionLabelField="tld" optionValueField="uid" sortByOptionLabel="true"/>
        </div>
        <div class="col-xs-12 col-sm-4">
            <button type="submit" disabled class="btn btn-primary tx-domaincheck-search-go ladda-button" id="tx-domaincheck-search-go-{data.uid}" data-style="zoom-in" data-uid="{data.uid}"><span class="ladda-label">{f:translate(key: 'tx_domaincheck_check.whois_check_domain_btn')}</span></button>
        </div>
    </form>

</html>
